

.title {
  color:rgb(107, 107, 197);
  font-size:40px;
  font-weight:600;
  margin-bottom: 20px;
}

.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  text-align: center;
}

.post-card {
  background:rgb(244, 242, 242);
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s ease;
}

.post-card:hover {
  transform: translateY(-5px);
  box-shadow:0 20px 40px rgba(10, 7, 183, 0.15);
}

.post-title {
  font-size: 1.3rem;
  color:rgb(2, 2, 79);
  margin-bottom: 10px;
  display: block;
}

.post-body {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.5;
  
}
.myBtn {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}


.btn-pulse {
  background-color:rgb(127, 127, 202);
  color: white;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.loading{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loading h1{
    font-size: 40px;
    font-weight: 300;
}